<div class="container">
	<form action="/create" method="post">
		<h3>Create Your Literary Masterpiece :</h3>
		<span>Title</span><br><input type="text" name="post[title]">
		<br><br>
		<span>Body</span><br><textarea rows="10" cols="60" name="post[body]"></textarea>
		<br><br>
		<span>Tag(s)</span><br><input type="text" name="tag[titles]" value="e.g. tag1, tag2">
		<br><br>
		<input type="submit" value="Publish"> 
	</form>
</div>