<div class="container">
  <h2>Here are posts that were tagged with "<%= @tag.title %>"</h2>

  <% @tagged_posts.each do |post| %>
  <li>
    <a href=<%="/post/#{post.id}"%>>
      <%= post.title %>
    </a>
  </li>
  <% end %>

</div>
